<header style="background-color: #2e3134;">
  <div class="w-100 bg-center bg-cover" style="height: 38rem; background-image: url('https://web.dragonball-api.com/images-compress/logo_dragonballapi.webp'); background-repeat: no-repeat; background-size: contain; background-position: center;">
  </div>
</header>
<div class="container my-4">
  <form action="">
    <div class="d-flex justify-content-center mt-6">
      <button type="button" (click)="listar()" class="btn btn-primary me-3 shadow">
        Contenido
      </button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
