<div class="container">
  <div class="row g-4">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let proyecto of proyectos">
      <div class="card h-100">
        <img [src]="proyecto.image" 
             class="card-img-top" 
             [alt]="proyecto.name"
             loading="lazy">
        <div class="card-body">
          <h5 class="card-title">{{ proyecto.name }}</h5>
          <p class="card-text">{{ proyecto.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Raza:</strong> {{ proyecto.race }}
          </li>
          <li class="list-group-item">
            <strong>Género:</strong> {{ proyecto.gender }}
          </li>
          <li class="list-group-item">
            <strong>KI:</strong> {{ proyecto.ki }}/{{ proyecto.maxKi }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>